@{
    ViewData["Title"] = "Home Page";
}

<div class="junbotron" style="margin-bottom: 100px;">
    <h1 class="display-2">Padrinly</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>Bem vindo</h2>
        <p>nvfwuioebhnfgiwehnf</p>
    </div>
</div>
