@page
@model LoginModel

<style>
    .background {
        background-image: url('/image/image1.png');
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        position: relative;
        max-width: 1900px;
    }
</style>
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>seja um padrinho(a)!</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
                    <label asp-for="Input.Name" class="form-label">Nome Completo</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Cpf" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Cpf" class="form-label">CPF</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Phone" class="form-control" autocomplete="phone" aria-required="true" placeholder="phone" />
                    <label asp-for="Input.Phone" class="form-label">Phone</label>
                </div>
                <div>
                    <button style="background-color: #DCAA2A; border-radius: 50px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Quero Apadrinhar</button>
                </div>

                <div>
                    <button style="background-color: #DCAA2A; border-radius: 50px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">É uma instituição/ONG? Clique aqui para fazer seu pré-cadastro!</button>
                </div>
                
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
