@page
@model LoginModel

<style>
    .image {
        max-width: 30%;
    }

    .padrin {
        display: flex;
        align-items: center;
    }

</style>

<div class="row">
    <div style="margin: 20px;">
        <div style="display: flex; justify-content: flex-end;">
            <div id="session" style="display: flex;">
                <button style="background-color: #DCAA2A; border-radius: 50px;width: 200px !important;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Perfil</button>
                <button style="background-color: #DCAA2A;border-radius: 50px;width: 200px !important;margin-left: 10px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sair</button>
            </div>
        </div>
        <h2>Olá, Padrinho(a)!</h2>
        <div style="display: flex; justify-content: flex-end;">
            <div id="addAfilhado" style="display: flex;margin-right:120px;">
                <button style="background-color: #DCAA2A; border-radius: 50px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Novo Afilhado</button>                    
            </div>
        </div>
    </div>

    <div style="display: flex;">
        <div class="padrin">
            <div style="margin-right:-500px" >
                <img class="image" src="/image/profile_icon.png">
            </div>
            <div class="text">
                <p>Este é o seu afilhado(a)!</p>

                <p>Este(a) é UNKNOWN, tem apenas XX anos de idade e mora em CIDADE/UF!</p>

                <p>Estuda na escola UNKNOWN, gosta de XXXXX e ama XXXX!</p>
            </div>
        </div>

        <div style="justify-content: flex-end;height:300px;display: flex;">
            <div id="addAfilhado" style="display: flex;flex-direction: column;">
                <button style="background-color: #DCAA2A; border-radius: 50px;width: 200px !important;margin:10px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Informações</button>
                <button style="background-color: #DCAA2A; border-radius: 50px;width: 200px !important;margin:10px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Fotos</button>
                <button style="background-color: #DCAA2A; border-radius: 50px;width: 200px !important;margin:10px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Mural</button>
                <button style="background-color: #DCAA2A; border-radius: 50px;width: 200px !important;margin:10px;" id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Chat</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
