html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: rgb(133, 237, 243);
    background: linear-gradient(90deg, rgba(133, 237, 243, 1) 0%, rgba(76, 166, 172, 1) 50%, rgba(2, 69, 73, 1) 100%);
}

.table {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    width: 120%;
    margin-left: -10%;
}



th {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

#Avatar {
    text-align: center;
}

#RightButton {
    text-align: right;
    margin-top: 30px;
}


.LogotipoPadrinly {
    font-family: 'Montserrat Alternates', 'italic';
    font-size: 48px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #2B479A;
    display: flex;
    margin-left: 17%;
    height: 90%;
    align-items: center;
}

#TituloPagina {
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 30px;
    font-size: 30px;
}

.btnsettings {
    margin-top: 20px;
    margin-left: 35%;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 100px;
    padding: 10px;
    background-color: #DCAA2A;
}


.btnsettingssmall {

    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: white;
    background-color: #DCAA2A;
    padding: 9px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    background-color: #F5BBE2;
    width: 100%;
}

.social-icons 
{
    margin-top: 15%;
}

#Rodape {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
    text-align: center;
   
}

.form-group {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.form-control {
    border-radius: 20px;
    color: gray;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.form-text-muted {
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
}

#Formulario {
    margin-top: 50px;
}

dt {
    text-align: right;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #DCAA2A;
    font-size: 18px;
    padding: 2px;
    border: solid 1px black;
}

#dtAvatar {
    text-align: center;
}

dd {
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: moccasin;
    font-size: 18px;
    padding: 2px;
    border: solid 1px;
}

#ddAvatar {
    background-color: white;
    border: none;
}


.PrincipalButton {
    margin-top: 20px;
    margin-left: 33%;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: white;
    width: 140px;
    height: 35px;
    background-color: #DCAA2A;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
}

.btnsettingsdel {
    margin-top: 20px;
    margin-left: 1%;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 100px;
    padding: 10px;
    background-color: darkred;
}

.LargeButton {
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    width: 250px;
    height: 40px;
    background-color: #DCAA2A;
    padding: 5%
}

.BoasVindas {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: justify;
}

.BoasVindasT {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

#BoasVindasB {
    text-align: center;
    margin-top: 40px;
}

.ImagemBoasVindas {
    background-image: url('/image/image4.png');
    background-size: cover;
}

.btnsettings2 {
    margin-top: 20px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 100px;
    padding: 10px;
    background-color: #DCAA2A;
}


.XGButton {
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    align-items: center;
    color: white;
    width: 250px;
    height: 110px;
    background-color: #DCAA2A;
}

.BoxAfilhadoHome {
    border: 4px outset gray;
    margin-top: 20px;
    margin: 30px;
    padding: 20px;
}

.BoxApresentacao {
    margin: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}

}

#postForm {
    margin-bottom: 100px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ViewPost {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 70px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 20px;
    
}

.btnsettingsleft {
    margin-top: 20px;
    margin-left: 35%;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: white;
    width: 100px;
    padding: 10px;
    background-color: #DCAA2A;
    margin-left: 1000%;
}

.Links {
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
}

.DescribeOptions {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}