@model Padrinly.Domain.Entities.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAnonimous" /> @Html.DisplayNameFor(model => model.IsAnonimous)
                </label>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @if (Model.Type == Padrinly.Domain.Enums.TypePerson.Institution)
            {
                <div class="form-group">
                    <label class="control-label">Data da Fundação</label>
                    <input asp-for="BirthDate" class="form-control" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstDocument" class="control-label"></label>
                    <input asp-for="FirstDocument" class="form-control" />
                    <span asp-validation-for="FirstDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondDocument" class="control-label"></label>
                    <input asp-for="SecondDocument" class="form-control" />
                    <span asp-validation-for="SecondDocument" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label">Data de Nascimento</label>
                    <input asp-for="BirthDate" class="form-control" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">CPF</label>
                    <input asp-for="FirstDocument" class="form-control" />
                    <span asp-validation-for="FirstDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">RG Opcional</label>
                    <input asp-for="SecondDocument" class="form-control" />
                    <span asp-validation-for="SecondDocument" class="text-danger"></span>
                </div>
            }
            @*             <div class="form-group">
            <label asp-for="AvatarFileName" class="control-label"></label>
            <input asp-for="AvatarFileName" class="form-control" />
            <span asp-validation-for="AvatarFileName" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-control" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complement" class="control-label"></label>
                <input asp-for="Complement" class="form-control" />
                <span asp-validation-for="Complement" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdUser" />
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="IdInstitution" />
            <input type="hidden" asp-for="IdResponsible" />
            <div class="form-group">
                <input type="submit" value="Save" formnovalidate class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("Patron"))
    {
        <a asp-controller="Home" asp-action="Index">Back to list</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
